In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('Courses_data.csv')

In [6]:
df.head(5)

,index,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,...,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
0,0,HarvardX/CB22x/2013_Spring,MHxPC130442623,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,2013-11-17,NaN,9.0,NaN,NaN,0,NaN,1.0
1,1,HarvardX/CS50x/2012,MHxPC130442623,1,1,0,0,United States,NaN,NaN,...,0,2012-10-15,NaN,NaN,9.0,NaN,1.0,0,NaN,1.0
2,2,HarvardX/CB22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2013-02-08,2013-11-17,NaN,16.0,NaN,NaN,0,NaN,1.0
3,3,HarvardX/CS50x/2012,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-09-17,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0
4,4,HarvardX/ER22x/2013_Spring,MHxPC130275857,1,0,0,0,United States,NaN,NaN,...,0,2012-12-19,NaN,NaN,16.0,NaN,NaN,0,NaN,1.0

In [9]:
df.tail(5)

,index,course_id,userid_DI,registered,viewed,explored,certified,final_cc_cname_DI,LoE_DI,YoB,...,grade,start_time_DI,last_event_DI,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
641133,641133,MITx/6.00x/2013_Spring,MHxPC130184108,1,1,0,0,Canada,Bachelor's,1991.0,...,NaN,2013-09-07,2013-09-07,97.0,1.0,4.0,2.0,0,NaN,NaN
641134,641134,MITx/6.00x/2013_Spring,MHxPC130359782,1,0,0,0,Other Europe,Bachelor's,1991.0,...,NaN,2013-09-07,2013-09-07,1.0,1.0,NaN,NaN,0,NaN,NaN
641135,641135,MITx/6.002x/2013_Spring,MHxPC130098513,1,0,0,0,United States,Doctorate,1979.0,...,NaN,2013-09-07,2013-09-07,1.0,1.0,NaN,NaN,0,NaN,NaN
641136,641136,MITx/6.00x/2013_Spring,MHxPC130098513,1,1,0,0,United States,Doctorate,1979.0,...,NaN,2013-09-07,2013-09-07,74.0,1.0,14.0,1.0,0,NaN,NaN
641137,641137,MITx/8.02x/2013_Spring,MHxPC130098513,1,0,0,0,United States,Doctorate,1979.0,...,NaN,2013-09-07,NaN,NaN,1.0,NaN,NaN,0,NaN,1.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 641138 entries, 0 to 641137
Data columns (total 21 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   index              641138 non-null  int64
 1   course_id          641138 non-null  object
 2   userid_DI          641138 non-null  object
 3   registered         641138 non-null  int64
 4   viewed             641138 non-null  int64
 5   explored           641138 non-null  int64
 6   certified          641138 non-null  int64
 7   final_cc_cname_DI  641138 non-null  object
 8   LoE_DI             535130 non-null  object
 9   YoB                544533 non-null  float64
 10  gender             554332 non-null  object
 11  grade              592766 non-null  object
 12  start_time_DI      641138 non-null  object
 13  last_event_DI      462184 non-null  object
 14  nevents            441987 non-null  float64
 15  ndays_act          478395 non-null  float64
 16  nplay_video        183608 non-null  float64
 17  nchapters          382385 non-null  float64
 18  nforum_posts       641138 non-null  int64
 19  roles              0 non-null       float64
 20  incomplete_flag    100161 non-null  float64
dtypes: float64(7), int64(6), object(8)
memory usage: 102.7+ MB

In [11]:
df.describe()

,index,registered,viewed,explored,certified,YoB,nevents,ndays_act,nplay_video,nchapters,nforum_posts,roles,incomplete_flag
count,641138.000000,641138.0,641138.000000,641138.000000,641138.000000,544533.000000,441987.000000,478395.000000,183608.000000,382385.000000,641138.000000,0.0,100161.0
mean,320568.500000,1.0,0.624299,0.061899,0.027587,1985.253279,431.008018,5.710254,114.844173,3.634423,0.018968,NaN,1.0
std,185080.742781,0.0,0.484304,0.240973,0.163786,8.891814,1516.116057,11.866471,426.996844,4.490987,0.229539,NaN,0.0
min,0.000000,1.0,0.000000,0.000000,0.000000,1931.000000,1.000000,1.000000,1.000000,1.000000,0.000000,NaN,1.0
25%,160284.250000,1.0,0.000000,0.000000,0.000000,1982.000000,3.000000,1.000000,5.000000,1.000000,0.000000,NaN,1.0
50%,320568.500000,1.0,1.000000,0.000000,0.000000,1988.000000,24.000000,2.000000,18.000000,2.000000,0.000000,NaN,1.0
75%,480852.750000,1.0,1.000000,0.000000,0.000000,1991.000000,158.000000,4.000000,73.000000,4.000000,0.000000,NaN,1.0
max,641137.000000,1.0,1.000000,1.000000,1.000000,2013.000000,197757.000000,205.000000,98517.000000,48.000000,20.000000,NaN,1.0

In [12]:
df.isnull().sum()

index                     0
course_id                 0
userid_DI                 0
registered                0
viewed                    0
explored                  0
certified                 0
final_cc_cname_DI         0
LoE_DI               106008
YoB                   96605
gender                86806
grade                 48372
start_time_DI             0
last_event_DI        178954
nevents              199151
ndays_act            162743
nplay_video          457530
nchapters            258753
nforum_posts              0
roles                641138
incomplete_flag      540977
dtype: int64

In [17]:
df.isnull().sum() / len(df) * 100

index                  0.000000
course_id              0.000000
userid_DI              0.000000
registered             0.000000
viewed                 0.000000
explored               0.000000
certified              0.000000
final_cc_cname_DI      0.000000
LoE_DI                16.534350
YoB                   15.067739
gender                13.539363
grade                  7.544710
start_time_DI          0.000000
last_event_DI         27.911932
nevents               31.062111
ndays_act             25.383459
nplay_video           71.362172
nchapters             40.358394
nforum_posts           0.000000
roles                100.000000
incomplete_flag       84.377622
dtype: float64

In [15]:
df.nunique()

index                641138
course_id                16
userid_DI            476532
registered                1
viewed                    2
explored                  2
certified                 2
final_cc_cname_DI        34
LoE_DI                    5
YoB                      78
gender                    3
grade                   104
start_time_DI           413
last_event_DI           404
nevents               10609
ndays_act               159
nplay_video            2728
nchapters                48
nforum_posts             14
roles                     0
incomplete_flag           1
dtype: int64

In [27]:
df.dtypes

index                  int64
course_id             object
userid_DI             object
registered             int64
viewed                 int64
explored               int64
certified              int64
final_cc_cname_DI     object
LoE_DI                object
YoB                  float64
gender                object
grade                 object
start_time_DI         object
last_event_DI         object
nevents              float64
ndays_act            float64
nplay_video          float64
nchapters            float64
nforum_posts           int64
roles                float64
incomplete_flag      float64
dtype: object

In [ ]:
categorical_cols = df.select_dtypes(include=['object', 'bool', 'category']).columns

print("--- 각 범주형 컬럼의 유니크 값 ---")
for col in categorical_cols:
    print(f"컬럼 '{col}': {df[col].unique()}")

--- 각 범주형 컬럼의 유니크 값 ---
컬럼 'course_id': ['HarvardX/CB22x/2013_Spring' 'HarvardX/CS50x/2012'
 'HarvardX/ER22x/2013_Spring' 'HarvardX/PH207x/2012_Fall'
 'HarvardX/PH278x/2013_Spring' 'MITx/6.002x/2012_Fall'
 'MITx/6.002x/2013_Spring' 'MITx/14.73x/2013_Spring'
 'MITx/2.01x/2013_Spring' 'MITx/3.091x/2012_Fall'
 'MITx/3.091x/2013_Spring' 'MITx/6.00x/2012_Fall' 'MITx/6.00x/2013_Spring'
 'MITx/7.00x/2013_Spring' 'MITx/8.02x/2013_Spring'
 'MITx/8.MReV/2013_Summer']
컬럼 'userid_DI': ['MHxPC130442623' 'MHxPC130275857' 'MHxPC130539455' ... 'MHxPC130184108'
 'MHxPC130359782' 'MHxPC130098513']
컬럼 'final_cc_cname_DI': ['United States' 'France' 'Unknown/Other' 'Mexico' 'Australia' 'India'
 'Canada' 'Russian Federation' 'Other South Asia'
 'Other North & Central Amer., Caribbean' 'Other Europe' 'Other Oceania'
 'Japan' 'Other Africa' 'Colombia' 'Germany'
 'Other Middle East/Central Asia' 'Poland' 'Indonesia' 'Other East Asia'
 'Bangladesh' 'China' 'United Kingdom' 'Ukraine' 'Spain' 'Greece'
 'Pakistan' 'Brazil' 'Nigeria' 'Egypt' 'Other South America' 'Portugal'
 'Philippines' 'Morocco']
컬럼 'LoE_DI': [nan 'Secondary' "Bachelor's" "Master's" 'Doctorate' 'Less than Secondary']
컬럼 'gender': [nan 'm' 'f' 'o']
컬럼 'grade': ['0' '0.07' '0.05' nan '0.0' '0.13' '0.35' '1' '0.95' '0.28' '0.04' '0.19'
 '0.18' '0.87' '0.01' '0.02' '0.62' '0.9' '0.03' '0.89' '0.38' '0.06'
 '0.93' ' ' '0.11' '0.86' '0.37' '0.84' '0.14' '0.68' '0.08' '0.8' '0.98'
 '0.71' '0.75' '0.09' '0.91' '0.53' '0.21' '0.48' '0.85' '0.79' '0.17'
 '0.63' '0.55' '0.92' '0.12' '0.77' '0.15' '0.78' '0.67' '0.1' '0.96'
 '0.32' '0.61' '0.76' '0.88' '0.45' '0.73' '0.81' '0.82' '0.26' '0.69'
 '0.29' '0.16' '0.59' '0.94' '0.51' '0.24' '0.72' '0.25' '0.83' '0.97'
 '0.31' '0.99' '0.23' '0.7' '0.27' '0.66' '0.36' '0.74' '0.4' '0.2' '0.44'
 '0.22' '0.42' '0.65' '0.34' '0.5' '0.58' '0.57' '0.6' '0.43' '0.3' '0.54'
 '0.49' '0.64' '0.52' '0.33' '0.39' '0.47' '0.56' '0.46' '0.41' '1.01']
컬럼 'start_time_DI': ['2012-12-19' '2012-10-15' '2013-02-08' '2012-09-17' '2013-01-01'
 '2013-02-18' '2012-10-20' '2013-02-23' '2013-06-17' '2013-01-24'
 '2013-06-27' '2012-07-26' '2013-07-30' '2012-10-25' '2012-10-19'
 '2013-03-03' '2012-10-24' '2012-12-20' '2012-10-29' '2012-09-04'
 '2012-09-05' '2012-10-22' '2013-01-07' '2013-02-11' '2012-07-24'
 '2012-12-23' '2012-09-27' '2012-12-10' '2013-02-20' '2012-10-13'
 '2012-08-27' '2013-04-22' '2013-03-16' '2012-07-25' '2013-03-17'
 '2013-01-28' '2013-02-26' '2013-02-13' '2013-01-23' '2012-08-17'
 '2013-08-06' '2012-08-16' '2012-08-12' '2012-07-30' '2012-09-08'
 '2013-01-03' '2012-10-17' '2012-12-21' '2012-09-24' '2013-02-14'
 '2013-05-26' '2012-12-29' '2013-06-02' '2013-05-27' '2013-01-06'
 '2013-03-21' '2013-06-04' '2013-04-30' '2012-07-27' '2012-09-20'
 '2012-12-22' '2013-05-13' '2013-02-12' '2013-02-22' '2013-05-01'
 '2013-01-08' '2013-02-07' '2012-11-04' '2012-09-02' '2013-02-16'
 '2012-10-03' '2013-03-13' '2012-12-24' '2012-08-20' '2012-10-02'
 '2012-07-31' '2012-12-25' '2012-12-28' '2012-09-07' '2012-10-18'
 '2013-01-18' '2013-04-01' '2013-01-30' '2012-09-10' '2013-07-13'
 '2013-05-16' '2012-09-01' '2013-03-29' '2012-08-18' '2013-02-27'
 '2012-08-22' '2012-11-23' '2012-07-28' '2012-08-07' '2012-10-31'
 '2013-02-05' '2013-04-09' '2012-10-04' '2012-08-19' '2013-03-04'
 '2013-04-06' '2013-02-15' '2013-02-09' '2012-08-14' '2013-04-08'
 '2013-06-20' '2012-10-16' '2012-08-26' '2012-08-15' '2013-08-18'
 '2013-03-05' '2013-05-31' '2013-08-02' '2013-07-07' '2012-12-04'
 '2012-11-03' '2013-08-17' '2012-09-15' '2013-01-16' '2013-07-01'
 '2013-01-22' '2012-11-20' '2012-09-25' '2012-09-03' '2012-08-29'
 '2012-12-18' '2013-08-16' '2013-02-01' '2012-12-26' '2012-12-15'
 '2012-08-13' '2013-07-19' '2013-01-09' '2012-12-31' '2012-12-30'
 '2012-10-12' '2012-09-11' '2012-09-06' '2012-12-08' '2013-03-09'
 '2012-12-27' '2013-03-11' '2012-07-29' '2012-09-28' '2012-10-11'
 '2013-06-14' '2012-11-09' '2012-08-06' '2012-11-14' '2013-04-27'
 '2013-06-05' '2013-01-05' '2012-08-03' '2013-01-04' '2012-08-31'
 '2013-03-08' '2012-11-26' '2012-08-30' '2012-08-23' '2012-08-10'
 '2013-01-17' '2013-06-03' '2012-09-19' '2012-09-09' '2013-03-20'
 '2013-03-30' '2012-12-12' '2012-09-30' '2012-08-02' '2012-08-21'
 '2013-07-26' '2013-01-25' '2012-09-26' '2013-07-18' '2013-08-30'
 '2013-01-21' '2013-02-04' '2012-09-12' '2012-08-24' '2013-04-24'
 '2012-10-14' '2013-07-22' '2013-02-28' '2012-10-08' '2012-10-07'
 '2012-08-25' '2013-09-04' '2013-03-22' '2012-10-09' '2013-01-02'
 '2012-11-22' '2013-05-19' '2013-07-14' '2013-08-01' '2013-05-21'
 '2012-08-09' '2012-09-14' '2013-01-11' '2013-03-12' '2013-05-03'
 '2012-11-18' '2013-02-06' '2012-11-01' '2013-04-20' '2012-11-06'
 '2013-01-13' '2012-08-01' '2013-01-19' '2012-11-10' '2012-12-16'
 '2012-12-14' '2013-04-16' '2013-04-07' '2013-03-18' '2013-04-28'
 '2012-11-24' '2013-01-27' '2013-08-31' '2013-03-10' '2013-04-19'
 '2012-08-11' '2012-12-01' '2012-10-23' '2012-10-01' '2013-03-24'
 '2012-12-05' '2013-08-27' '2012-09-18' '2012-09-23' '2013-07-23'
 '2013-07-29' '2012-09-21' '2012-11-28' '2013-01-14' '2013-09-05'
 '2013-02-17' '2012-10-26' '2012-10-05' '2013-01-12' '2013-07-04'
 '2012-08-28' '2013-01-31' '2013-05-09' '2012-09-16' '2013-03-27'
 '2012-09-29' '2013-02-25' '2013-07-24' '2012-10-06' '2013-04-17'
 '2012-08-05' '2012-09-22' '2012-11-05' '2013-06-21' '2013-05-02'
 '2012-11-21' '2013-05-18' '2012-08-04' '2013-01-15' '2013-08-22'
 '2012-10-10' '2013-07-25' '2013-06-22' '2012-11-16' '2013-02-21'
 '2013-04-29' '2013-01-10' '2012-08-08' '2013-03-28' '2013-06-24'
 '2012-09-13' '2013-05-06' '2013-09-02' '2012-11-13' '2013-07-03'
 '2013-07-28' '2012-12-03' '2013-05-07' '2013-06-29' '2013-04-04'
 '2012-11-19' '2013-08-29' '2013-03-07' '2013-06-11' '2013-06-06'
 '2013-01-29' '2012-11-27' '2013-03-25' '2013-08-07' '2013-07-27'
 '2013-03-06' '2012-11-17' '2013-04-18' '2013-02-19' '2013-06-16'
 '2012-10-28' '2012-11-07' '2013-08-23' '2013-06-18' '2013-04-25'
 '2013-03-02' '2013-03-31' '2013-04-02' '2013-01-20' '2013-06-30'
 '2013-02-24' '2013-08-04' '2013-04-03' '2013-03-19' '2012-11-29'
 '2013-06-26' '2013-05-23' '2013-08-14' '2013-01-26' '2013-05-15'
 '2013-02-03' '2013-04-12' '2013-02-02' '2013-07-06' '2013-05-14'
 '2012-10-27' '2013-09-06' '2013-08-08' '2012-10-21' '2013-04-14'
 '2013-04-10' '2013-02-10' '2013-05-12' '2013-03-23' '2013-06-23'
 '2012-11-15' '2013-07-20' '2013-06-09' '2012-11-12' '2013-05-22'
 '2013-05-24' '2012-12-09' '2013-03-14' '2013-06-28' '2013-04-05'
 '2013-05-08' '2013-08-19' '2013-06-07' '2013-07-15' '2013-08-24'
 '2013-05-05' '2013-03-01' '2013-06-10' '2013-08-26' '2013-09-01'
 '2012-11-02' '2012-11-08' '2013-07-31' '2013-06-01' '2012-11-11'
 '2012-11-30' '2013-08-09' '2013-05-17' '2013-06-08' '2013-06-15'
 '2013-08-25' '2013-04-23' '2013-07-12' '2013-07-09' '2013-05-29'
 '2013-06-12' '2012-12-11' '2013-05-28' '2013-05-25' '2012-10-30'
 '2013-06-13' '2013-04-26' '2013-08-15' '2013-05-04' '2012-12-02'
 '2013-05-10' '2013-09-03' '2013-08-12' '2013-06-25' '2013-07-02'
 '2012-12-17' '2013-03-26' '2013-08-21' '2013-03-15' '2012-12-07'
 '2012-12-06' '2013-04-15' '2013-07-10' '2013-05-11' '2013-07-17'
 '2012-12-13' '2013-05-20' '2013-07-11' '2013-07-16' '2013-08-20'
 '2013-04-11' '2013-05-30' '2013-08-03' '2013-08-28' '2013-04-21'
 '2013-04-13' '2013-09-07' '2013-06-19' '2013-07-21' '2012-11-25'
 '2013-08-10' '2013-08-13' '2013-07-05' '2012-07-23' '2013-08-05'
 '2013-08-11' '2013-07-08' '2013-09-08']
컬럼 'last_event_DI': ['2013-11-17' nan '2013-05-23' '2013-05-14' '2013-03-17' '2013-06-14'
 '2013-06-17' '2013-08-03' '2013-08-17' '2013-01-16' '2013-08-27'
 '2012-12-04' '2013-03-03' '2013-05-18' '2013-03-04' '2013-03-30'
 '2013-04-06' '2013-02-13' '2013-03-31' '2013-02-27' '2013-06-29'
 '2013-03-18' '2013-05-20' '2013-03-14' '2013-04-23' '2013-03-16'
 '2013-07-08' '2013-06-07' '2013-02-26' '2013-02-14' '2013-07-02'
 '2013-03-20' '2012-08-16' '2013-02-19' '2013-03-13' '2013-03-29'
 '2013-03-23' '2013-03-07' '2013-05-26' '2013-02-12' '2013-04-30'
 '2013-06-02' '2013-06-01' '2013-07-30' '2012-11-19' '2013-05-28'
 '2013-06-09' '2012-08-28' '2013-06-24' '2013-05-01' '2013-06-30'
 '2013-05-13' '2012-11-07' '2013-02-22' '2013-05-24' '2013-04-01'
 '2013-05-15' '2013-02-21' '2013-02-16' '2013-07-29' '2013-03-12'
 '2013-04-17' '2013-03-15' '2013-04-02' '2012-08-17' '2013-06-23'
 '2012-09-26' '2013-07-21' '2012-07-25' '2013-06-11' '2013-06-21'
 '2012-10-28' '2013-03-27' '2013-07-13' '2013-07-19' '2013-03-25'
 '2013-05-16' '2012-09-01' '2013-04-04' '2013-06-19' '2013-06-03'
 '2013-07-24' '2012-10-15' '2013-01-10' '2013-06-25' '2013-02-15'
 '2013-06-20' '2012-08-26' '2013-04-15' '2013-03-05' '2013-08-02'
 '2013-07-07' '2013-01-18' '2012-12-23' '2013-06-22' '2012-11-12'
 '2013-07-01' '2013-04-22' '2012-08-18' '2013-04-18' '2012-11-27'
 '2013-01-20' '2013-02-23' '2013-03-11' '2013-04-24' '2013-07-11'
 '2013-06-04' '2013-05-25' '2013-06-28' '2012-07-24' '2013-06-27'
 '2013-03-26' '2013-08-18' '2013-07-06' '2013-04-26' '2012-11-28'
 '2013-06-18' '2012-08-15' '2013-02-28' '2013-05-05' '2013-02-20'
 '2013-08-24' '2013-08-15' '2013-05-31' '2013-04-10' '2013-08-09'
 '2013-04-29' '2013-03-22' '2013-03-24' '2013-08-07' '2013-04-09'
 '2013-07-27' '2013-09-07' '2013-08-04' '2013-04-08' '2013-03-01'
 '2013-06-12' '2013-06-08' '2013-06-13' '2012-10-16' '2013-03-08'
 '2013-02-11' '2013-08-11' '2012-12-31' '2013-03-06' '2012-10-20'
 '2012-08-11' '2013-08-05' '2012-08-23' '2013-03-19' '2012-12-09'
 '2012-09-04' '2012-10-27' '2012-12-12' '2012-12-13' '2013-07-26'
 '2013-07-28' '2013-07-18' '2013-03-21' '2013-08-21' '2013-05-27'
 '2013-09-06' '2013-07-22' '2013-04-21' '2013-06-15' '2013-08-25'
 '2013-06-06' '2013-05-04' '2013-09-01' '2013-07-14' '2013-03-28'
 '2013-04-14' '2013-08-08' '2013-04-27' '2013-04-12' '2013-05-07'
 '2013-03-09' '2013-04-20' '2013-08-12' '2012-10-26' '2012-12-11'
 '2012-10-25' '2012-10-22' '2013-05-17' '2013-03-10' '2013-04-07'
 '2013-05-11' '2012-09-06' '2013-07-25' '2013-06-26' '2013-04-19'
 '2012-08-20' '2013-08-19' '2012-07-26' '2013-04-28' '2012-10-21'
 '2012-10-24' '2013-09-02' '2012-10-01' '2013-09-05' '2013-08-13'
 '2013-05-09' '2012-11-14' '2013-02-17' '2013-05-06' '2012-10-17'
 '2012-08-30' '2013-02-25' '2013-05-19' '2013-02-18' '2013-09-04'
 '2012-09-18' '2012-11-01' '2013-04-03' '2013-05-10' '2012-08-04'
 '2013-07-10' '2012-10-18' '2012-10-30' '2013-05-29' '2013-07-23'
 '2013-05-03' '2013-03-02' '2013-07-31' '2013-04-11' '2013-06-05'
 '2013-07-20' '2013-07-16' '2013-08-10' '2013-04-16' '2013-05-30'
 '2012-11-18' '2012-10-02' '2013-08-01' '2012-11-10' '2013-08-23'
 '2012-09-12' '2013-08-28' '2013-08-30' '2012-11-13' '2012-09-22'
 '2013-05-21' '2013-06-16' '2012-11-29' '2012-12-20' '2013-05-22'
 '2013-01-12' '2013-08-14' '2012-10-23' '2013-04-13' '2013-07-15'
 '2013-01-19' '2013-08-06' '2012-08-19' '2012-08-14' '2012-11-05'
 '2012-10-10' '2012-08-22' '2012-10-08' '2012-11-20' '2013-07-12'
 '2012-07-31' '2013-02-24' '2013-01-07' '2013-07-17' '2012-10-29'
 '2012-09-25' '2013-04-05' '2013-05-12' '2012-09-28' '2012-12-08'
 '2013-05-08' '2013-04-25' '2013-07-03' '2012-08-31' '2012-11-02'
 '2013-08-29' '2013-08-26' '2012-11-21' '2013-07-09' '2012-09-15'
 '2013-06-10' '2012-11-24' '2012-08-13' '2012-09-16' '2012-09-11'
 '2013-08-16' '2012-11-04' '2013-07-04' '2012-09-20' '2012-09-03'
 '2013-07-05' '2012-10-09' '2013-09-03' '2013-05-02' '2012-09-21'
 '2012-12-22' '2012-12-21' '2012-08-29' '2012-10-07' '2012-08-25'
 '2012-11-03' '2012-07-30' '2013-01-13' '2012-09-05' '2012-09-30'
 '2013-08-31' '2012-11-06' '2012-07-29' '2013-01-06' '2013-01-17'
 '2013-01-08' '2012-08-24' '2012-09-27' '2012-10-14' '2013-01-05'
 '2012-10-19' '2012-11-26' '2012-09-24' '2012-11-17' '2012-08-21'
 '2013-01-15' '2013-01-04' '2012-07-27' '2012-12-03' '2012-11-15'
 '2012-10-31' '2013-08-20' '2012-11-08' '2012-08-27' '2012-12-06'
 '2012-09-29' '2012-08-06' '2012-09-13' '2012-08-12' '2012-10-03'
 '2012-09-17' '2012-10-05' '2012-12-30' '2012-10-06' '2012-08-10'
 '2012-12-05' '2012-11-30' '2013-01-11' '2012-12-27' '2013-01-14'
 '2012-12-26' '2012-08-03' '2012-08-09' '2012-08-08' '2012-11-25'
 '2013-01-01' '2012-10-04' '2012-08-07' '2012-10-12' '2013-08-22'
 '2012-12-14' '2012-11-11' '2012-08-02' '2012-09-23' '2012-10-11'
 '2012-12-25' '2012-12-02' '2012-12-28' '2012-12-24' '2012-11-22'
 '2012-12-01' '2012-12-10' '2012-12-18' '2012-12-16' '2012-11-16'
 '2012-12-29' '2012-12-17' '2012-08-05' '2012-12-07' '2013-01-09'
 '2012-12-19' '2013-01-02' '2012-08-01' '2012-07-28' '2012-11-23'
 '2012-11-09' '2012-10-13' '2013-01-03' '2012-09-02' '2012-12-15'
 '2012-09-19' '2012-09-14' '2013-02-01' '2013-01-24' '2013-02-06'
 '2013-02-05' '2013-01-23' '2013-01-25' '2013-01-21' '2013-01-30'
 '2013-01-22' '2013-02-02' '2013-01-28' '2013-01-26' '2013-02-03'
 '2013-01-31' '2013-02-04' '2013-01-27' '2013-01-29']

In [25]:
'final_cc_cname_DI'.unique()

AttributeError: 'str' object has no attribute 'unique'

In [ ]:
'gender'.unique()

AttributeError: 'str' object has no attribute 'unique'